<div id="footer">
	
	<div class="wrapper">

		<p>为了您最佳的网页浏览体验，请使用 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN&amp;brand=CHMI" target="_blank"><i>Chrome</i></a> 浏览器</p>

		<ul>
			<li>Designed by <a href="https://github.com/vincentjiang" target="_blank">VincentJiang</a></li>
			<li>|</li>
			<li><a href="https://github.com/vincentjiang/ecoit" target="_blank">Github</a></li>
			<li>|</li>
			<li><a href="mailto:jxs471494539@gmail.com?subject=ECO IT System">Contact me</a></li>
		</ul>

	</div>

</div>