<div class="container">

	<%= render 'layouts/sidebar' %>

	<div class="content">
	  
		<%= render 'layouts/search_box' %>
	  
	  <div class="breakline"></div>

	  <%= render 'layouts/option' %>

	  <div class="breakline"></div>

	  <%= yield %>

	  
	</div>

</div>
