<dl class="option">

  <dt class="fl">选择分类：</dt>
	<dd>
		<%= link_to "服务器", servers_path %>	|	
	</dd>
	<dd>
		<a href="">网络设备</a>	|	
	</dd>
	<dd>
		<%= link_to "应用系统", systems_path %>	|	
	</dd>
	<dd>
		<a href="">软件</a>	
	</dd>
     	               	                 
</dl>