<div id="search_box">
  
  <%= form_tag search_path, id: "searchForm", name: "searchForm", method: "get" do %>
    <%= text_field_tag "kw", nil, placeholder: "请输入资产名称，如：EPSZWFP01", id: 'search_input', class: "ui-autocomplete-input", autocomplete: "off" %>
    <%= submit_tag "搜索", id: "search_button", disable_with: "努力搜索中……" %>
  <% end %>
</div>