<div id="search_box">
  <form id="searchForm" name="searchForm" action="" method="get">
      <input type="text" id="search_input" name="kd" tabindex="1" placeholder="请输入资产名称，如：EPSZWFP01" class="ui-autocomplete-input" autocomplete="off">
      <input type="submit" id="search_button" value="搜索">
  </form>
</div>